@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* RESET BÁSICO 
   - Elimina márgenes y padding por defecto
   - Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Define color de fondo y tipografía*/
body {
  font-family: "Lexend", sans-serif;
  background-color: #3f69f3;
  color: #ffffff;
}

/* Limitar ancho y centrar
   - header, main y footer no serán de ancho completo
   - max-width evita que la página se vea muy ancha
   - margin auto los coloca al centro del body
*/
header,
main,
footer {
  width: 100%;
}

.top-banner {
  background-color: #1e6d01;
  text-align: center;
  padding: 6px 10px;
  font-size: 16px;
  color: white;
}

/* NAV */
.nav-principal {
  background-color: #11398f;
  padding: 20px 20px;
  max-width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  list-style: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Menú de navegación */
.nav-lista {
  padding: 1px 1px;
  text-decoration: none;
  color: #3f69f3;
  width: 100%;
  font-weight: bold;
  transition: 0.4s;
}

/* Estilo de los enlaces del menú */
.nav-lista a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #3f69f3;
  font-weight: bold;
  transition: 0.3s;
}

.nav-lista a:hover {
  color: #f4e912; /* color cuando pasas el cursor */
}

#catalogo {
  text-align: center;
}

/* CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* TARJETA DEL PRODUCTO */
.producto-tarjeta {
  position: relative;
  width: 600px;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 25px 30px 30px;
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /*para q la badge se posicione dentro*/
}

/* Efecto al pasar el mouse */
.producto-tarjeta:hover {
  transform: translateY(-6px);
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
}

/* IMAGEN DEL PRODUCTO */
.producto-img {
  width: 100%;
  height: 220px;
  object-fit: contain; /* ajusta imagen sin deformarse */
  background-color: #fafafa;
  padding: 10px;
}

/* TÍTULO DEL PRODUCTO */
.producto-titulo {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  color: #3f69f3;
}

/* DESCRIPCIÓN DEL PRODUCTO */
.producto-desc {
  font-size: 14px;
  color: #000000;
  margin: 10px 15px;
}

/* PRECIO */
.producto-precio {
  font-size: 18px;
  font-weight: bold;
  color: #3dea0d;
  margin: 20px 0px 20px 0px;
}

/* BOTÓN DEL PRODUCTO */
.producto-btn {
  background: #df8f06;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 15px;
  font-weight: bold;
}

.producto-btn:hover {
  background: #11398f;
}

.producto-badge {
  /*posiciona mi span dentro de mi contender*/
  position: absolute;
  background-color: #e42716;
  top: 10px;
  left: 10px;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 10px;
  z-index: 10;
}
/* SECCIONES GENERALES */
section {
  padding: 30px 30px 30px 30px;
  margin: 0px 0px 0px 0px;
}

.titulo-section {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.paragraph-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px 40px 70px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  margin-bottom: 6px;
}

.letras-paquetes {
  font-size: 14px;
  color: #ffffff;
  margin: 10px 15px;
}

.collab-footer {
  color: #ffffff;
  margin-top: 10px;
}

/*Servicios fotos*/
#seccion-fotos {
  box-sizing: border-box;
  margin: 0px;
  background-color: #11398f;
  width: 100%;
  padding: 20px 200px 20px 200px;
}

.fotos-contenedorr {
  background-color: #3f69f3;
  border-radius: 45px;
  text-align: center;
  margin-bottom: 90px;
  padding: 0px 0px 15px 0px;
}

.fotos-contenedorr:hover {
  transform: translateY(-6px);
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
}

.titulo-paquetes {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  color: #11398f;
}

/*Implementé flexbox para los servicios de video*/
#servicio-video {
  display: flex; /* Define al contenedor como un contenedor flex */
  justify-content: center;
  background-color: #3f69f3;
  padding: 10px;
}

/*agregué estilos y comentarios para los items de los servicios de video para familiarizarme*/
.item {
  display: flex;
  flex-direction: column; /* Alinea los elementos hijos en columna */
  align-items: center; /* Centra los elementos hijos horizontalmente */
  text-align: center; /* Centra el texto dentro de los elementos hijos */
  gap: 10px; /* Espacio entre los elementos hijos */
  padding: 15px 20px 15px 20px; /* Espacio interno alrededor del contenido */
  background-color: #11398f;
  border-radius: 15px;
  margin: 10px;
  flex: 1; /* Permite que los items crezcan y se distribuyan equitativamente */
}

/*agregué efecto hover a los items de los servicios de video*/
.item:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 25px rgb(255, 255, 255); /* Resplandor suave */
}

/*agregué flexbox y estilos para el boton de videos destacados*/
.contenedor-boton {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  padding: 30px;
}

.pagina-nueva {
  display: inline-block;
  justify-content: center;
  margin-top: 30px 50px 30px 50px;
  padding: 10px 20px;
  background-color: #f0dc26;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#contacto {
  background-color: #11398f;
}

/* FORMULARIO */
.form-contacto {
  background: white;
  padding: 20px;
  border-radius: 15px;
}

#entregas {
  text-align: center;
  background-color: #2c5bc0;
}

#acerca {
  text-align: center;
  padding-bottom: 50px;
  background-color: #2c5bc0;
}

/* Inputs y textarea del formulario */
.form-contacto input,
.form-contacto textarea {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  background-color: #11398f;
  color: #ffffff;
}

.boton-carrito {
  /*fixed */
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #f0dc26;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
  padding: 12px 20px;
  color: #ffffff;
  z-index: 1500;
  box-shadow: 0 4px 12px;
  transition: 0.2s ease-in-out rgb(0, 0, 0, 25);
}

.boton-carrito:hover {
  background-color: #1e6d01;
}
